{{#each data}}
  <div class="image-item">
    <a class="image-item__link" href="{{link}}">
      <img class="image-item__image" src="{{media.m}}" class=""/>
    </a>
    <div class="image-item__info">
      {{title}}
      <p class="image-item__info-item js-author" data-filter-item="{{author_id}}">{{splitString author}}</p>
      <p>Date taken:<span class="js-date">{{formatTime date_taken}}</span></p>
      <p>
        Tags
        {{#each tags}}
          <span class="image-item__info-item js-tag" data-filter-item="{{this}}">{{this}}</span>
        {{/each}}
      </p>
    </div>
  </div>
{{/each}}
