{{#each data}}
  <div class="image-item">
    <a class="image-item__link" href="{{link}}">
      <img class="image-item__image" src="{{media.m}}" class=""/>
    </a>
    <div class="image-item__info">
      {{title}}
      <p class="image-item__info-item--author js-author" data-authorid="{{author_id}}">{{splitString author 'author'}}</p>
      <p>Date taken:<span class="js-date">{{formatTime date_taken}}</span></p>
      <p>Tags {{splitString tags 'tag'}}</p>
    </div>
  </div>
{{/each}}
